{% load render_bundle from webpack_loader %}
{% load static %}
<!DOCTYPE html>
<html lang="fa" class="rtl">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Meysam Shirdel">

    <title>{% block title%}{% endblock %}</title>
    {% render_bundle 'main' 'css' %}
    
</head>

<body>
    {% include "socialnews/navigation.html" %}
    {% include "socialnews/messages.html"%}
    <main id="main-content" role="main" class="container rtl">
        {% block content %} {% endblock %}
    </main>
    {% include "socialnews/footer.html" %}
    
    {% render_bundle 'main' 'js' %}
    
    {% block javascript %}
    {% endblock %}

</body>

</html>