{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Meysam Shirdel">

    <title>{% block title%}{% endblock %}</title>

    <link href="{% static 'socialnews/css/bootstrap.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="{% static 'socialnews/css/fonts.css' %}" rel="stylesheet">
    <link href="{% static 'socialnews/css/general.css' %}" rel="stylesheet">

</head>

<body>
    {% include "socialnews/navigation.html" %}
    <div class="container container-padding-top">
        {% block content %} {% endblock %}
    </div>
    {% include "socialnews/footer.html" %}
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'socialnews/js/jquery-3.2.1.slim.min.js' %}"></script>
    <script src="{% static 'socialnews/js/popper.min.js' %}"></script>
    <script src="{% static 'socialnews/js/bootstrap.js' %}"></script>

        {% block javascript %}
        {% endblock %}

</body>

</html>