{% extends 'socialnews/base.html'%}
{% load static %}
{% load jformat %}
{% block content %}
    {% for story in stories %}
    <div class="row justify-content-md-center padding-top-10">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <a href="{% url 'upvote_story' story.id %}">
                        <span style="color: #28a745">
                            <i class="fas fa-thumbs-up"></i>
                        </span>
                    </a>
                    {% if story.url %}
                        <a href="{{story.url}}" target="_blank">{{story.title}}</a>
                    {% else %}
                        <a href="{% url 'show_story' story.id %}">{{story.title}}</a>
                    {% endif %}
                </div>
            </div>
            <div class="row font-size-12">
                <div class="col-md-12">
                    امتیاز : {{ story.number_of_votes }}
                    | ایجاد شده توسط:
                    {{ story.user.username }}
                    در {{ story.created|jformat:"%H:%M %Y/%m/%d"}}
                    {% if user.is_authenticated and story.user == user %}
                        | <a href="{% url 'edit_story' story.id %}">ویرایش</a>
                    {% endif %} 
                    
                    | <a href="{% url 'show_story' story.id %}">گفتگو 
                        [{{ story.number_of_comments }}]
                    </a>
                    {% if story.id in voted_story_id %}
                        | 
                        <a href="{% url 'downvote_story' story.id %}">
                            <span style="color: tomato">
                                <i class="fas fa-thumbs-down"></i>
                            </span>
                        </a> 
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}

<!-- - {{ story.created|jformat:"%A %d %B %Y %H:%M"}}-->