{% extends 'socialnews/base.html'%}
{% load static %}
{% load jformat %}
{% block content %}

    {% for story in stories %}
    <div class="row padding-top-10">
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-12">
                    <a href="{% url 'upvote_story' story.id %}"><i class='fa fa-thumbs-o-up'></i></a>
                    {% if story.url %}
                        <a href="{{story.url}}" target="_blank">{{story.title}}</a>
                    {% else %}
                        <a href="{% url 'show_story' story.id %}">{{story.title}}</a>
                    {% endif %}
                </div>
            </div>
            <div class="row font-size-10">
                <div class="col-md-12">
                    امتیاز : {{ story.storypoint_set.count }}
                    | ایجاد شده توسط:
                    {{ story.user.username }}
                    در {{ story.created|jformat:"%A %d %B %Y %H:%M"}}
                    {% if user.is_authenticated and story.user == uesr %}
                        | <a href="{% url 'edit_story' story.id %}">ویرایش</a>
                    {% endif %}
                    | <a href="{% url 'show_story' story.id %}">گفتگو</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}

<!-- - {{ story.created|jformat:"%A %d %B %Y %H:%M"}}-->