<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="{% url 'socialnews:index' %}">
            <span style="color: Tomato;">
                <i class="fas fa-stroopwafel"></i>
            </span>
            HeatBlast - Social News
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'socialnews:profile'%}">{{ user.username }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'socialnews:new_story' %}">لینک جدید</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'socialnews:logout' %}">خروج</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'socialnews:login' %}">ورود</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'socialnews:register_user' %}">ثبت نام</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'socialnews:latest_stories' %}">تازه‌ها</a>
                </li>
                <li class="nav-item">
                    {% include 'socialnews/search.html'%}
                </li>
            </ul>
        </div>
    </div>
</nav>