{% extends 'socialnews/base.html' %}
{% block content %}
{% if errors %}
    {% for error in errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
    {% endfor %}
{% endif %}
<div class="row justify-content-md-center">
    <div class="col-md-12">
        <form class="form-signin" method="POST" action="{% url 'socialnews:register_user' %}">
            {% csrf_token %}
                <table class="table table-borderless">
                {% for field in form %}
                        <tr>
                            <td>
                                {{ field.label_tag }} 
                            </td>
                            <td>
                                {{ field }}
                                {% if field.help_text %}
                                    <p class="font-size-10">{{ field.help_text|safe }}</p>
                                {% endif %}
                            </td>
                        </tr>
                        {% if field.errors %}
                            <tr>
                                <td></td>
                                <td>
                                    <div class="form-errors">
                                        {{ field.errors }}
                                    </div>
                                    
                                </td>
                            </tr>
                        {% endif %}
                {% endfor %}
                </table>
            <button class="btn btn-primary" type="submit">ثبت نام</button>
        </form>
    </div>
</div>
{% endblock %}