{% extends 'socialnews/base.html'%}
{% load jformat %}
{% load socialnews_filters %}
{% block content %}
<div class="body-panel margin-top-15">
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                {% if story.url %}
                <a href="{{story.url}}" target="_blank">
                    <h1>{{story.title}}</h1>
                </a>
                {% else %}
                <h1>{{story.title}}</h1>
                {% endif %}
            </div>
        </div>
        <div class="row font-size-10">
            <div class="col-md-12">
                ایجاد شده توسط:
                {{ story.user.username }}
                در {{ story.created|jformat:"%H:%M %Y/%m/%d"}}
            </div>
        </div>
        {% include 'socialnews/story/render_tags.html' %}
        <div class="row padding-top-10">
            <div class="col-md-12">
                <p>{{story.story_body_text|markdown}}</p>
            </div>
        </div>
        <div class="row padding-top-10">
            <div class="col-md-12">
                <form action="" method="POST">
                    {% csrf_token %}
                    {{ form }}
                    <button type="submit" class="btn btn-primary mt-2">ارسال</button>
                </form>
            </div>
        </div>
        <div class="row padding-top-10">
            <div class="col-md-12">
                {% for comment in story.comments.all %}
                <i><b>{{ comment.created|jformat:"%H:%M %Y/%m/%d" }} - {{ comment.commenter.username }}</b></i>
                <p>{{ comment.story_comment }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-12">
        similar stories: <br>
        <ul>
        {% for story in similar_stories %}
            <li>
                <a href="{{ story.get_absolute_url }}">{{story.title}}</a>
            </li>
        {% endfor %}
        </ul>
    </div>
</div>
</div>
{% endblock %}