@import url(fonts.css);
body {
    padding-top: 54px;
    font-size: 14px;
    font-family: "iran-sans";
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}

.container-padding-top {
    padding-top: 15px;
}

.nav-link-color {
    color: white;
}

.padding-top-10 {
    padding-top: 10px;
}
